<!doctype html>
<title>Flickr Queries</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
<h1>Flickr Recs</h1>
  <div class="metanav">
    <p>This webpage recommends cameras to users based on user input.
    </p>
     <form action="/search" method="get">
        Tag: <input type="text" name="tag" value="Food"><br>
        Fields: <br>
        		<input type=checkbox name="make">Make<BR> 
        		<input type=checkbox name="model">Model<BR> 
        		<input type=checkbox name="exposure">Exposure<br>
        		<input type=checkbox name="isospeed">ISO Speed<br>
        		<input type=checkbox name="aperture">Aperture<br>
        		<input type=checkbox name="shutterspeed">Shutter Speed<br>
        		<input type=checkbox name="flash">Flash<br>

             <input type="submit" value="Submit">
     </form>
  </div>
   <center> <img src="/static/flickr-logo.png" width="300" height="150" alt="flickr"> </center>
</div>
<center>
<p>By Shivam Agarwal, Jason Mar, Keary Mobley, Saketh Poda, Carlos Ramirez, Soma Yamaoka</p>
</center>
