
<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Flickr Exif Recommendations</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="https://github.com/rayxke/Redshift-Project">Github</a>
                    </li>
                   <!--  <li role="presentation"><a href="">Data</a>
                    </li> -->
                </ul>
            </nav>
            <h3 class="text-muted">Flickr Exif Interactive Querying</h3>
        </div>
        <div class="row marketing" style="margin-top: 0;">
             <form action="/" method="get">
              <div class="form-group">
                <label for="phototag">Photo Tag</label>
                <input type="text" class="form-control" name="tag" placeholder="Input your tag here..." required>
                <div><input type=checkbox name="exact"> Search for exact tag</div>
              </div>

              <div class="form-group">
                <label for="phototag">Number of Results</label>
                <input type="text" class="form-control" name="numresults" placeholder="Number of results desired (integer)" required>
              </div>
              <div class="checkbox">
                <label> 

                	<div class="col-md-8"><input type=checkbox name="make">Make</div>
        			<div class="col-md-4"><input type=checkbox name="model">Model</div>
        		
        			<div class="col-md-8"><input type=checkbox name="exposure">Exposure</div>
	        		<div class="col-md-4"><input type=checkbox name="isospeed">ISO Speed</div>
	        		<div class="col-md-8"><input type=checkbox name="aperture">Aperture</div>
	        		<div class="col-md-4"><input type=checkbox name="shutterspeed">Shutter Speed</div>
	        		<div class="col-md-8"><input type=checkbox name="flash">Flash</div>
	        		<div class="col-md-4"><input type=checkbox name="colorspace">Color Space</div>
	        		<div class="col-md-8"><input type=checkbox name="compression">Compression</div>
	        		<div class="col-md-4"><input type=checkbox name="contrast">Contrast</div>
	        		<div class="col-md-8"><input type=checkbox name="focallength">Focal Length</div>
	        		<div class="col-md-4"><input type=checkbox name="orientation">Orientation</div>

                	<div class="col-md-8"><input type=checkbox name="saturation">Saturation</div>
        			<div class="col-md-4"><input type=checkbox name="scenecapturetype">Scene Capture Type</div>

                	<div class="col-md-8"><input type=checkbox name="sharpness">Sharpness</div>
        			<div class="col-md-4"><input type=checkbox name="software">Software</div>

                	<div class="col-md-8"><input type=checkbox name="subjectdistancerange">Subject Distance Range</div>
        			<div class="col-md-4"><input type=checkbox name="whitebalance">White Balance</div>

        			
        			
                </label>
              </div>
              <div class="col-md-8"><button type="reset" class="btn btn-primary" id="userUpdate">Clear Selections</button></div>
              <div class="col-md-1"><button type="submit" class="btn btn-success" value="Submit">Submit</button></div>
            </form>
        </div>
    </div>

    <!-- graph -->

    <div class="container-fluid">
        <div class="jumbotron" style="background-color: white; padding-top: 0; padding-bottom: 0;">	
            {% block content %} 
            <div id='graph15'>{{graph15|safe}}</div>
            {% endblock %}
        </div>
    </div>

    <!-- footer  -->
    <div class="container">
        <footer class="footer">
        	 <center> <img src="/static/flickr-logo.png" width="300" height="150" alt="flickr"> </center>
            <p>&copy; ECE4813 Group 6: Shivam Agarwal, Jason Mar, Keary Mobley, Saketh Poda, Carlos Ramirez, Soma Yamaoka</p>
        </footer>
    </div>
</body>
 
</html>
