<!doctype html>
<title>Flickr Queries</title>
<link rel="stylesheet" type="text/css" href=style.css> <!{{ url_for('static', filename='style.css') }}">
<h1>Flickr Recs</h1>
  <div class="metanav">
    <p>This webpage recommends cameras to users based on user input.
    </p>
     <form action="demo_form.asp">
        Tag: <input type="text" name="FirstName" value="Mickey"><br>
            
             <input type="submit" value="Submit">
     </form>
  </div>
   <img src="flickr-logo.png" width="120" height="90" alt="flickr">
</div>
<p>By Shivam Agarwal, Jason Mar, Keary Mobley, Saketh Poda, Carlos Ramirez, Soma Yamaoka</p>
